.member {
    width: 280px;
    margin-top: 20px;
    position: relative;
}

.member .header {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.member img {
    width: 100px;
    border-radius: 50%;
    position:relative;
    bottom: -50px;
}

.member .footer {
    background-color: #FFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.member .footer h4 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 22px;
    color: #212121;
    margin-bottom: 8px;
}

.member .footer p {
    font-size: 1.5em;
    line-height: 22px;
    color: #212121;
    padding: 0px 20px;
}

.remove-member {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    background-color: #2b2b2b;
    padding: 5px 10px;
    border-radius: 5px;
}

.remove-member:hover {
    background-color: #5a5a5a;
}